/*
//----------------------------------------------------------------------------------
//
// 회원가입
//
//----------------------------------------------------------------------------------
*/
.mypage-userinfo .contents-box .join-description {
    align-items: baseline;
    justify-content: center;
}

.mypage-userinfo .contents-box .join-description h2 {
    margin-right: 10px;
    color: #3B5BA2;
}

.mypage-userinfo .line-bottom {
    padding: 0px;
}



/*
//----------------------------------------------------------------------------------
//
// 정보 수정
//
//----------------------------------------------------------------------------------
*/
.mypage-userinfo .mypage-userinfo-form {
    margin: 0 auto;
}
.mypage-userinfo .mypage-userinfo-form table tr th {
    font-weight: bold;
    text-align: right;
    min-width: 120px;
    padding-right: 10px;
    vertical-align: middle;
}

.mypage-userinfo .mypage-userinfo-form tr td{
    width: 100%;
    margin-left: 20px;
    padding: 10px;
    vertical-align: middle;
}

.mypage-userinfo .mypage-userinfo-form input[type='text']
, .mypage-userinfo .mypage-userinfo-form input[type='password'] {
    width: 100%;
}

.mypage-userinfo .mypage-userinfo-form .join-radio-box > div {
   margin-right: 5px;
   display: inline-block;
}

.mypage-userinfo .mypage-userinfo-form .select-region div {
    display: inline-block;
    margin-right: 30px;
}


.mypage-userinfo .mypage-userinfo-form .select-region select {
    width: 100px;
}

.mypage-userinfo .mypage-userinfo-form input[value="가입하기"] {
    margin-right: 5px;
}

.mypage-userinfo .mypage-userinfo-form tr:last-child {
    height: 150px;
}


/*
//----------------------------------------------------------------------------------
//

//
//----------------------------------------------------------------------------------
*/


input[type="text1"] {
	background-color: #DFE1E4;
	border: none;
	border-radius: 5px;
	padding: 10px 5px;
}


/*
//----------------------------------------------------------------------------------
//
//
//----------------------------------------------------------------------------------
*/


.email-address{
    background-color: #DFE1E4;
	border: 0px;
	border-radius: 50px;
	padding: 10px 50px;
	padding-left: 40px;
}

